//variables
$background-color: #222;
$text-color: #eee;

//responsive breakpoints
$bp-largest: 65em; //1020px/16px=63.75em;
$bp-large: 53em; //810px/16px=50.625em
$bp-medium: 43em; // 689px/16=41em

.h2 {
  font-size: 1.5rem;
}

.btn {
  font-size: 2rem;
  padding: 2rem 3rem;
  background-color: $text-color;
  text-decoration: none;
  border: none;
  font-family: inherit;

  &__1 {
    display: block;
    align-self: center;
    justify-self: flex-start;
    margin-left: 4vw;

    @media only screen and(max-width:$bp-large) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
  }
}
