* {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Press Start 2P";
  box-sizing: inherit;
}

.container {
  height: 100vh;
  color: $text-color;
  background-color: $background-color;
}

.section-container {
  font-size: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
  padding: 10rem 10rem;
  margin-top: 1.5rem;
}
