* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Press Start 2P";
  box-sizing: inherit;
  font-size: 62.5%; // 1rem==10px
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 48%;
  }
}

.container {
  height: 100vh;
  color: $text-color;
  background-color: $background-color;
}

.section-container {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
  grid-column-gap: 5rem;
  padding: 10rem 10rem;
  margin-top: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 2rem;
    justify-content: center;
  }
}
