@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.h2 {
  font-size: 1.5rem; }

.btn {
  font-size: 2rem;
  padding: 2rem 3rem;
  background-color: #eee;
  text-decoration: none;
  border: none;
  font-family: inherit; }
  .btn__1 {
    display: block;
    align-self: center;
    justify-self: flex-start;
    margin-left: 4vw; }
    @media only screen and (max-width: 53em) {
      .btn__1 {
        grid-row: 1/2;
        grid-column: 1/2; } }
    @media only screen and (max-width: 32em) {
      .btn__1 {
        grid-row: 1/2;
        justify-self: center; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-family: "Press Start 2P";
  box-sizing: inherit;
  font-size: 62.5%; }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 32em) {
    html {
      font-size: 48%; } }

.container {
  height: 100vh;
  color: #eee;
  background-color: #222; }

.section-container {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
  grid-column-gap: 5rem;
  padding: 10rem 10rem;
  margin-top: 1.5rem; }
  @media only screen and (max-width: 43em) {
    .section-container {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: minmax(min-content, max-content);
      grid-row-gap: 2rem;
      justify-content: center; } }

.guess {
  background-color: transparent;
  border: 0.5rem solid #eee;
  justify-self: center;
  color: #eee;
  text-align: center;
  font-family: inherit;
  font-size: 6rem;
  width: 30rem;
  padding: 0 3rem;
  margin-right: 5vw; }
  @media only screen and (max-width: 65em) {
    .guess {
      height: 15rem;
      margin-right: 0vw; } }
  @media only screen and (max-width: 43em) {
    .guess {
      grid-row: 2/3;
      grid-column: 1/2;
      height: 10rem;
      margin: 1rem 0rem; } }
  @media only screen and (max-width: 23.5em) {
    .guess {
      font-size: 5rem; } }

.instructions {
  grid-row: 1/2;
  grid-column: 2/-1;
  margin-left: 6vw;
  backface-visibility: hidden; }
  @media only screen and (max-width: 43em) {
    .instructions {
      grid-row: 1/2;
      grid-column: 1/2;
      margin: 0; } }
  @media only screen and (max-width: 23.5em) {
    .instructions {
      font-size: 2.5rem; } }

.label--1 {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 6vw;
  backface-visibility: hidden; }
  @media only screen and (max-width: 43em) {
    .label--1 {
      grid-row: 4/5;
      grid-column: 1/2;
      margin: 0;
      justify-self: center; } }
  @media only screen and (max-width: 23.5em) {
    .label--1 {
      font-size: 2.5rem; } }

.label--2 {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  margin-left: 6vw;
  margin-top: 1.5rem;
  backface-visibility: hidden; }
  @media only screen and (max-width: 43em) {
    .label--2 {
      grid-row: 5/6;
      grid-column: 1/2;
      margin: 0;
      justify-self: center; } }
  @media only screen and (max-width: 23.5em) {
    .label--2 {
      font-size: 2.5rem; } }

.scoreDigit {
  font-size: inherit; }

.check {
  justify-self: center;
  align-self: center;
  margin-right: 5vw;
  width: 20rem; }
  @media only screen and (max-width: 53em) {
    .check {
      margin-right: 0; } }
  @media only screen and (max-width: 43em) {
    .check {
      grid-row: 3/4;
      grid-column: 1/2;
      margin: 1rem 0; } }

.header {
  height: 40%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  justify-items: center;
  padding: 1.5rem;
  border-bottom: 0.8rem solid #eee;
  position: relative; }
  @media only screen and (max-width: 53em) {
    .header {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: max-content;
      justify-content: center; } }
  @media only screen and (max-width: 32em) {
    .header {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: minmax(min-content, max-content); } }
  .header__title {
    font-size: 4rem;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    color: yellow; }
    @media only screen and (max-width: 53em) {
      .header__title {
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: flex-end; } }
    @media only screen and (max-width: 32em) {
      .header__title {
        grid-row: 3/4;
        justify-self: center;
        font-size: 3rem; } }
    @media only screen and (max-width: 23.5em) {
      .header__title {
        font-size: 2.5rem; } }
  .header__description {
    grid-column: 3/-1;
    font-size: 2rem;
    align-self: center;
    justify-self: flex-start; }
    @media only screen and (max-width: 53em) {
      .header__description {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: flex-end;
        z-index: -1; } }
    @media only screen and (max-width: 32em) {
      .header__description {
        grid-row: 2/3;
        justify-self: center; } }

.secret-number {
  font-size: 6rem;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  padding: 3rem 8rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 65%);
  color: #222;
  background-color: #eee; }
  @media only screen and (max-width: 53em) {
    .secret-number {
      grid-row: 3/4;
      grid-column: 1/2; } }
  @media only screen and (max-width: 32em) {
    .secret-number {
      grid-row: 4/5; } }
